/*
    charcoal background: #2D333B
    black background: #22272E
    outlines: #444C56
    off white text: #CDD9E5
    light gray text: #ACB9C6
    orange underline: #EC775C
    blue repo name: #539BF5
    yellow JavaScript circle: #F1E05A
    redorange HTML circle: #E34C26
*/

/*GLOBAL*/
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: crimson;
}

/*HEADER*/

h2 {
    font-family: fantasy;
    border: 1px solid white;
}

/*MAIN*/


/*REPO NAV*/


/*CONTAINER*/


/*LEFT PROFILE*/


/*RIGHT REPOS*/
