h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #ffffff;
    border-bottom: 1px solid;
    padding-bottom: 3px;
  }
  
h2 {
    font-family: "Overlook", Calibri;
    color: #ffee00;
    font-style: italic;
}
  
#randomRestaurantName {
    background: #ff00777c;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;  
    font-family: "Handlee", Courier
}
  
#randomRestaurantName:hover {
    background-color: rgb(255, 0, 162);
    color: white;
} 