#boxybox {
    position: relative;
    top: 5px;
    background-color: rgb(210, 30, 30);
}

p {
    color:rgb(50, 138, 205);
}

div {
    background:rgb(211, 210, 210);
    border: 2px solid;
}

.heading {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    
}

nav {
    position: sticky;
    top: 5px;
}

h1 {
    color: violet;
    text-align: center;
}

h2  {
    font-style: italic;
}

.content {
    color:purple;
}

#fancy {
    font-family: cursive;
    color: tomato;
    font-style: italic;
}