.div {
    border: 4px solid black;
    padding: 10px;
} 

.div2 {
    border: 4px dotted black;
    padding: 50px;
}

.rectangle {
  position: relative;
  justify-content: space-between;

  bottom: -50px;
  height: 200px;
  width: 60px;
  background-color: rgb(110, 1, 165);
}

.rectangle2 {
    height: 300px;
    width: 600px;
    background-color: rgb(1, 145, 30);
}

.rectangle3 {
    height: 300px;
    width: 100%;
    background-color: rgb(238, 241, 180);
    box-shadow: 10px 10px 5px rgb(53, 53, 53);
    
}

.rectangle4 {
    height: 300px;
    width: 500px;
    margin: center;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(204, 204, 204);
    box-shadow: 2px 2px 3px rgb(179, 179, 179);
    
}

.circle {
    height: 300px;
    width: 300px;
    background-color: rgb(109, 216, 235);
    border-radius: 50%;
}

.table {
    padding: 20;
    border-collapse: separate;
    border-spacing: 50px 0;
}

.center {
    margin: auto;
    padding: 450px;
    width: 60%;
    border: 2px solid #e4e4e3;
    box-shadow: 2px 2px 2px grey;
    padding: 10px;
    font-size: 32px;
    color: indigo;
}