* {
    margin: 0;
    padding: 0;
    background-color: white;
}

header {
    background-color: rgb(72, 72, 72);
    position: inherit;
    width: 100%;
    object-position: top;
    /*left: 0;
    right: 0;*/
    color: white;
    height: 150px;
    margin-top: 0px;
} 

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    /*top: 0; /* Stay at the top */
    left: 0;
    background-color: rgb(242, 243, 193); /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 200px;
  }  

  .rightnav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    /*top: 0; /* Stay at the top */
    right: 0;
    background-color: rgb(242, 243, 193); /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 200px;
  }
